body > main > section {
  overflow-x: hidden;
  /* border: 1px black solid; */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

/* First Section */
body > main > .first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1f242d, #3f4653);
  min-height: 100vh;
}

.first-section > h1 {
  color: #fff;
  font-size: 4rem;
  margin: 0;
}

.first-section > p {
  color: #0ef;
  font-size: 1.5rem;
}

/* Second Section */
body > main > .second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1f242d, #3f4653);
  min-height: 100vh;
  padding: 2rem 4rem;
  text-align: center;
}

.second-section > h1 {
  color: #fff;
  font-size: 4rem;
  margin: 0;
}

.second-section > p {
  color: #0ef;
  font-size: 1.5rem;
}

/* Third Section */
body > main > .third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1f242d, #3f4653);
  min-height: 100vh;
}

.third-section > h1 {
  color: #fff;
  font-size: 4rem;
  margin: 0;
}

.third-section > p {
  color: #0ef;
  font-size: 1.5rem;
}

/* Animate On Scroll */
section .animateOnScroll {
  transition: 1s;
}

/* First Section Animation */
.first-section .animateOnScroll {
  transform: translateX(-100%);
  opacity: 0;
}

.first-section.show-animateOnScroll .animateOnScroll {
  transform: translateX(0);
  opacity: 1;
}

/* Second Section Animation */
.second-section .animateOnScroll {
  transform: translateX(100%);
  opacity: 0;
}

.second-section.show-animateOnScroll .animateOnScroll {
  transform: translateX(0);
  opacity: 1;
}

/* Third Section Animation */
.third-section .animateOnScroll {
  transform: translateX(100%);
  opacity: 0;
}

.third-section.show-animateOnScroll .animateOnScroll {
  transform: translateX(0);
  opacity: 1;
}

/* Image */
.first-section > .picture {
  aspect-ratio: 3 / 4;
  width: 250px;
  left: 12%;
  top: 80%;
  position: absolute;
  transform: rotate(30deg);
  animation: rotate_first 8s infinite;
  background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703815200&semt=sph);
}

@keyframes rotate_first {
  0%,
  100% {
    transform: rotate(40deg);
    background: url(https://th.bing.com/th/id/R.cde34f35b726362c0794705aa5c2dd04?rik=cVER3o5P0BBuDA&pid=ImgRaw&r=0);
  }
  10%,
  80% {
    transform: rotate(35deg);
  }
  20%,
  90% {
    transform: rotate(20deg);
  }
  30%,
  70% {
    transform: rotate(15deg);
  }
  40%,
  60% {
    transform: rotate(-5deg);
    background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703815200&semt=sph");
  }
  50% {
    transform: rotate(10deg);
  }
}

/* Third Section Description - Strength & Weakness */
.third-section-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  width: 50%;
  column-gap: 2rem;
}

.third-section-description-strength,
.third-section-description-weakness {
  display: flex;
  flex-direction: column;
  border-radius: 30px 30px 30px 30px;
  height: 100%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  padding: 1.5rem 2rem 6rem 2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to top, #1f242d, #3f4653);
}

.third-section-description-strength > p:first-child,
.third-section-description-weakness > p:first-child {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.third-section-description-strength > ul,
.third-section-description-weakness > ul {
  font-size: 1.5rem;
  color: #fff;
  margin: 1rem 0 0 0;
}

.third-section-description-strength > ul > li,
.third-section-description-weakness > ul > li {
  margin: 0.5rem 0;
}
