.first-content,
.second-content,
.third-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem;
}

.first-content > h1,
.second-content > h1,
.third-content > h1 {
  font-size: 3rem;
  margin: 2rem 0;
  color: #edff4b;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.wrapper {
  /* background-color: #2d325a; */
  background: linear-gradient(to top, #314466, rgb(69, 98, 155));
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  margin: 0;
  width: 80%;
  height: fit-content;
  padding-bottom: 2rem;
}

.wrapper > p {
  margin: 1rem 0;
  padding-inline: 2rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-container-child {
  padding: 0.5rem 2rem;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); */
}

.grid-container-child:nth-child(odd) {
  color: #fff;
}

.grid-container-child:nth-child(even) {
  color: #fff;
}

.grid-container-child > span {
  background-color: black;
  width: 100%;
  padding-bottom: 2.5px;
  display: inline-block;
  zoom: 1;
  margin: 0;
}

.grid-container-child > .grid-content-description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  cursor: pointer;
  width: 100%;
  gap: 2rem;
}

.grid-container-child > .grid-content-description > h1 {
  margin: 0;
  font-weight: 400;
}

.grid-container-child > .grid-content-description > p {
  margin: 0;
}

.grid-content {
  transition: 0.4s ease;
  display: none;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Kelas 10 */
.grid-container-child > .grid-content img {
  width: 100%;
  max-width: 400px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border: 1px black solid;
  margin: 0 auto;
  height: auto;
}

.grid-container-child > .grid-content iframe {
  aspect-ratio: 4 / 3;
  background-color: #fff;
  width: 100%;
}

.sub-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  width: 100%;
}

.sub-description > p {
  margin: 0.5rem auto;
  font-size: 1.2rem;
}

.sub-description > p > a {
  color: beige;
}

.grid-container-child > h1 {
  font-size: 2rem;
}
