:root {
  /* --dropdown-button-text-color: #000; */
  --dropdown-content-color: royalblue;
  --dropdown-content-hyperlink-color: #fff;
  --dropdown-content-hyperlink-hover-color: #222;
  --dropdown-content-hyperlink-bg-hover-color: rebeccapurple;
  --dropdown-button-text-hover-color: #fff;
  --dropdown-button-hover-color: #333;
}

.dropdown-button {
  position: relative;
}

.dropdown-button > button {
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  padding: 0 1.5rem;
  background-color: transparent;
  height: 100%;
  margin: auto;
  color: var(--navigation-hyperlink-color);
  transition: 0.4s ease;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropdown-content-color);
  padding: 0;
  z-index: 1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.4s 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-content > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.dropdown-content > ul > li {
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.dropdown-content > ul > li > a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 4rem 1rem 2rem;
  margin: 0;
  color: var(--dropdown-content-hyperlink-color);
  width: 100%;
  transition: 0.5s ease-out;
  border: 1px transparent solid;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.dropdown-content > ul > li > a:hover {
  color: var(--dropdown-content-hyperlink-hover-color);
  background-color: var(--dropdown-content-hyperlink-bg-hover-color);
  border: 1px black solid;
  text-shadow: none;
}

.dropdown-button:hover > button {
  background-color: var(--dropdown-button-text-hover-color);
  color: var(--dropdown-button-hover-color);
}

.dropdown-button:hover > .dropdown-content {
  display: block;
}
