:root {
  --navigation-main-color: #3586ff; /* Navigation Bar Background */
  --navigation-hyperlink-color: white; /* Navigation Bar Hyperlink */
  --navigation-hyperlink-underline-color: #222; /* Navigation Bar Hyperlink Underline */
  /*  */
  /*  */
  /*  */
}

header {
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
}

header > nav {
  height: auto;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  background-color: var(--navigation-main-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  height: 64px;
  transition: 0.4s ease;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2rem;
  padding: 0;
  padding-inline-start: 2rem;
  margin: 0;
  height: 100%;
  /* justify-content: center; */
}

header > nav > ul > li {
  padding: 0;
  margin: 0;
  display: inline-flex;
}

header > nav > ul > li > img {
  margin: auto;
  object-fit: contain;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
}

header > nav > ul > li > a {
  text-decoration: none;
  font-size: 1.5rem;
  padding-inline: 1.5rem;
  color: var(--navigation-hyperlink-color);
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header > nav > ul > li > a:after {
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--navigation-hyperlink-underline-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

body.dark-mode header > nav > ul > li > a:after {
  background: #fff;
}

header > nav > ul > li a:hover:after {
  width: 100%;
  left: 0;
}

* {
  /* border: 1px black solid; */
  font-family: "Times New Roman", Times, serif;
}
